.basic_text_area {
    width: 500px;
    height: 300px;

    resize: none;
}

.result_sentiment {
    text-align: center;
}

.result_confidence {
    text-align: center;
}

.blue-strong {
    background-color: #2B6EA1;
}

.blue-weak {
    background-color: #5bc0de;
}

.red-strong {
    background-color: #c20000;
}

.red-weak {
    background-color: #c8787a;
}

.block-container {
    text-align:center;
}

.block {
    display:inline-block;
}

.tech-icon {
    height: 100px;
    width: 100px;
}

.tech-icon-90 {
    height: 90px;
    width: 90px;
}

.small-jumbotron {
    padding: 1rem !important;
    margin-bottom: 0.5rem !important;
}

.span-padding-left {
    padding-left: 10px;
}