.basic_text_area {
    width: 500px;
    height: 300px;

    resize: none;
}

.result_sentiment {
    text-align: center;
}

.result_confidence {
    text-align: center;
}

.blue-strong {
    background-color: #2B6EA1;
}

.blue-weak {
    background-color: #5bc0de;
}

.red-strong {
    background-color: #c20000;
}

.red-weak {
    background-color: #c8787a;
}

.block-container {
    text-align: center;
}

.block {
    display: inline-block;
}

.tech-icon {
    height: 50px;
    width: 50px;
}

.tech-icon-small {
    height: 40px;
    width: 40px;
}

.tech-icon-middle {
    height: 100px;
    width: 100px;
}

.tech-icon-middle-small {
    height: 90px;
    width: 90px;
}

.tech-icon-left {
    padding-right: 30%;
}

.tech-icon-right {
    padding-left: 30%;
}

.small-jumbotron {
    padding: 1rem !important;
    margin-bottom: 0.5rem !important;
}

.span-padding-left {
    padding-left: 10px;
}

.prevent-color-change {
    color: black;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    padding-top: 350%;
}

.arrow-hover {}

.arrow-hover:hover {
    font-size: large;
}

.link-class {}

.link-class:hover {
    cursor: hand;
}

.hidden {
    visibility: hidden;
    display: inline-block;
}